*, *::before, *::after {
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    line-height: 1.625;
    font-family: 'Source Sans Pro', sans-serif;
    background: white;
    margin: 0;
    color: #6f6f6f;
}

a{
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}

img{
    max-width: 100%;
    height: auto;
}

.header{
    margin-top: 80px;
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.92),rgba(54, 54, 54, 0.5)  39.24%,rgba(28, 28, 28, 0.4) ), 
        url('img/eggs.jpg') center center / cover no-repeat;
    color: white;
}

.topbar-up{
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    color: white;
    background: #383838 ;
    margin-top: -80px;

}

.topbar-up ul, li, a{
    padding: 0;
    margin: 0;
}

.topbar-up a{
    text-decoration: none;
    color: inherit;
}

.topbar-up ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topbar-up li{
    padding: 0 8px;
}

.topbar-up li,
.topbar-up a{
    list-style: none;
    display: flex;
    height: 40px;
    align-items: center;
    transition: color .4s;
}

.topbar-up svg{
    height: 12px;
    width: 12px;
    margin-right: 8px;
    color: white;
}

.topbar-up .topbar-up-lang{
    margin-left: auto;
}

.topbar-up-infos{
    background-color: #C89446;
    color: #383838;
}

.topbar-up-links a:hover,
.topbar-up-links svg{
    color: #C89446;
}

.topbar-up-lang a::after{
    content: '';
    display: inline-block;
    border-left: solid 3px transparent;
    border-right: solid 3px transparent;
    border-top: solid 5px white;
    height: 0;
    width: 0;
    margin-left: 6px;
}

.topbar-up-lang a:hover::after{
    border-top: solid 5px #C89446;
}

.topbar-up-container{
    max-width: 1016px;
    margin-left: auto;
    margin-right: auto;
}

.topbar{
    padding: 18px 20px;
    font-size: .875rem;
    text-transform: uppercase;
    text-align: center;
}

.menu-item:hover{
    color: #C89446;
}

.menu-item{
    display: inline-block;
    margin: 0 15px;
}

.logo{
    margin-bottom: 15px;
}

.baseline{
    padding: 50px 0 70px 0;
    text-align: center;
    line-height: 1;
}

.baseline-welcome{
    font-size: 2.2rem;
    font-family: 'Pinyon Script', cursive, serif;
    color: #C89446;
    display: block;
    line-height: 1;
}

.baseline-name{
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
    display: block;
}

.baseline-slogan{
    text-transform: uppercase;  
    letter-spacing: 2px;  
    font-size: 1rem;
    font-weight: 300;
    display: block;
}

.menu-button{
    border: solid 1px #C89446;
    padding: 7px 10px;
    margin-top: 5px;
    transition-property: color, background-color;
}

.menu-button:hover{
    background:#C89446;
    color: white;
}

.home-section{
    padding-top: 9px;
}

.container-small{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
}

.bloc{
    margin-bottom: 50px;
}

.title{
    font-size: 1.75rem;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    margin: 1rem 0 0 0;
}

.title span{
    font-family: 'Pinyon Script', serif ;
    color: #C89446;
    font-size: 2.5rem;
    font-weight: 400;
    display: block;
    text-transform: none;
}

.title::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 2px;
    background: #C89446;
    margin-bottom: .5rem;
}

.more{
    color: #C89446;
}

.more a:hover{
    text-decoration: underline;
}

.more a::after{
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    margin-left: 0.7em;
    background: url('img/small-right.svg') center center no-repeat;
    transition: transform .3s;
}

.more a:hover::after{
    transform: translateX(5px) rotate(180deg);
}

.bloc-img{
    max-width: 350px;
    margin: 0 auto;
    border: solid 1px #C89446;
}

.bloc-img img{
    display: block;
    position: relative;
    z-index: 1;
}

.bloc-center{
    text-align: center;
}

.bloc-center .bloc-body{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.ingredients-menu{
    font-weight: 600;
    color: #383838;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
}

.ingredients-menu a{
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.ingredients-menu a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 1px;
    opacity: 0;
    background: #C89446;
    transition: .3s;
}

.ingredients-menu .active::after, .ingredients-menu a:hover::after{
    opacity: 1;
    bottom: 0;
}

.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1150px;
}

.menu-summary-item{
    padding-left: 120px;
    position: relative;
    margin-bottom: 30px;

}

.menu-summary-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.menu-summary-title{
    font-size: 1.125rem;
    color: #383838;
    font-weight: bold;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
}

.menu-summary p{
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    font-size: 0.875rem;
}

.menu-summary-price{
    font-size: 2.5rem;
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    line-height: 1;
}

.reservation{
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.92),rgba(54, 54, 54, 0.5)  39.24%,rgba(28, 28, 28, 0.4) ), 
    url('img/reservation.jpg') center center / cover no-repeat;
    color: rgba(255, 255, 255, 0.6);
    padding: 50px 0;
}

.reservation .title{
    color: white;
}

.reservation input, .reservation select{
    border-radius: 2px;
    padding: 0 0.5rem;
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px #6f6f6f;
    background: transparent;
    text-transform: uppercase;
    font-size: 0.875rem;
    height: 40px;
    color: white;
    font-family: 'Source Sans Pro', serif;
    transition: background-color .3s, border-color .3s;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.reservation select{
    background: no-repeat right 0.5rem center url('img/select-84.svg');
}

.reservation input:focus, .reservation select:focus{
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #C89446;
}

.reservation .button{
    width: 100%;
}

.button{
    font-weight: 600;
    font-size: 0.875rem;
    color: white;
    background: #C89446;
    border: solid 1px transparent;
    padding: 11px 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.button:hover{
    background: transparent;
    border: solid 1px #C89446;
}

.reservation p{
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
}

.reservation .bloc-center .bloc-body{
    max-width: 825px;
}

select option{
    color: black;
}

.recipes{
    padding: 50px 0;
    background: top left/ 100vw auto no-repeat url('img/news-bg.jpg');
}

.recipes a:hover{
    text-decoration: underline;
    color: #C89446;
}

.recipes .more{
    display: block;
    margin-top: 60px;
    text-align: right;
}

.recipes-list{
    font-weight: 300;
    font-size: 1.125rem;
    max-width: 920px;
    margin-left: auto;
}

.recipes-list strong{
    color: #383838;
    font-weight: bold;
}

.recipes-date strong{
    font-size: 1.75rem;
    display: block;
    line-height: 1.2;
}

.recipes-date strong:hover{
    transform: rotate(360deg);
    transition-duration: .8s;
}

.recipes-list-item{
    border-bottom: solid 1px #f2f2f2;
    margin-top: 1em;
    display: flex;
    padding-bottom: 1em;

}

.recipes-list-item p{
    margin: 0;
}

.recipes-date{
    width: 60px;
    flex: none;
    line-height: 1;
}

.recipes-list-item:last-child{
    border-bottom: 0;
}

.map{
    width: 100%;
    height: 460px;
}

.footer{
    background: #383838 bottom right no-repeat;
    font-weight: 300;
    color: white;
    padding: 40px 0;
}

.footer-title{
    color: #C89446;
    text-transform: uppercase;
    margin-bottom: 1.25em;
    font-weight: bold;
}

.footer-column{
    margin-bottom: 2rem;
}

.footer ul{
    padding-left: 0;
    list-style: none;
}

.footer ul li::before{
    content: '- ';
}

.footer a{
    text-decoration: underline;
}

.footer a:hover{
    color: #C89446;
}

.footer-credits{
    font-size: 0.913em;
}

.footer-credits span{
    font-weight: bold;
}

/*
    Pages recipe
*/

.bloc-ingredients{
    border: solid 1px #C89446;
    padding: 35px 20px;
    font-weight: 600;
    color: #383838;
}

.bloc-ingredients ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.bloc-ingredients li{
    padding: 5px 0;
}

.bloc-ingredients span{
    width: 35px;
    text-align: right;
    display: inline-block;
    margin-right: 20px;
    font-weight: 300;
}

.section-overflow{
    padding: 20px 0;
}

.bloc-video{
    text-align: center;
    position: relative;
    background: #383838;
    display: block;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.bloc-video img{
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.5);
    opacity: 0.6;
    display: block;
    transition: opacity .4s;
}

.bloc-video::after{
    content: '';
    background: url('img/play.png') center center no-repeat;
    position: absolute;
    width: 62px;
    height: 62px;
    top: calc(50% - 31px);
    left: calc(50% - 31px);
    transition: transform .4s;
}

.bloc-video:hover::after{
    transform: scale(1.1);
}

.bloc-video:hover img{
    opacity: 0.9;
}

.recipes-mosaic p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.recipes-mosaic .more{
    margin-top: 0.5rem;
}

.pagination{
    list-style: none;
    margin: 30px 0;
    padding: 0;
    text-align: center;
}

.pagination li{
    display: inline-block;
}

.pagination a{
    border: solid 1px #C89446;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    overflow: hidden;
    text-indent: -3000px;
    transition:  background-color .3s;
    margin: 0 10px;
}

.pagination a.active{
    background: #C89446;
}
@media only screen and (min-width: 690px){
    .header{
        margin-top: 55px;
    }
    .topbar-up{

        margin-top: -55px;
        background: linear-gradient(to right, #C89446, #C89446 50%, #383838 50.01%, #383838 );
    }

    .topbar-up-container{
        display: flex;
        justify-content: space-between;
        background: #383838;
    }
    .topbar-up li,
    .topbar-up a{
        height: 55px;
    }
    .topbar-up svg{
        height: 16px;
        width: 16px;
    }
    .topbar-up-infos li:last-child{
        background: #383838;
        color: white;
        padding-left: 0;
    }

    .topbar-up-infos li:last-child::before{
        content: '';
        margin-right: 15px;
        display: inline-block;
        border-right: solid 30px transparent;
        border-bottom:solid 55px #C89446 ;
    }

    .topbar-up-infos li:last-child svg{
        color: #C89446;
    }

}
@media only screen and (min-width: 700px){
    html{
        font-size: 16px;
    }

    .logo{
        margin-bottom: 0;
    }
    .topbar{
        display: flex;
        justify-content: space-between;
        max-width: 1140px;
        margin: 0 auto;
        align-items: center;

    }
    .menu-button{
        margin-top: 0;
        margin-right: 0;
    }
    .baseline{
        padding: 125px 0 230px;
    }
    .baseline-slogan{
        font-size: 1.5rem;
    }
    .baseline-name{
        font-size: 4.375rem;
        letter-spacing: 12px;
        padding-top: 8px;
        padding-bottom: 17px;
    }
    .baseline-welcome{
        font-size: 3.75rem;
    }
}

@media only screen and (min-width: 800px){
    .bloc{
        margin-bottom: 100px;
    }
    .bloc-last{
        margin-bottom: 60px;
    }
    .bloc-left, .bloc-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bloc-img{
        border: none;
        /*flex: none;*/
        position: relative;
    }
    .bloc-left .bloc-body, .bloc-right .bloc-body{
        width: 445px;
        flex: none;
    }
    .bloc-img::before{
        content: '';
        display: block;
        border: solid 1px #C89446;
        position: absolute;
        top: -30px;
        left: -30px;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
    .bloc-right .bloc-img::before{
        left: auto;
        top: -30px;
        right: -30px;
    }
    .bloc-left .bloc-img{
        width: 350px;
        margin-left: 30px;
    }
    .bloc-right .bloc-img{
        width: 350px;
        margin-right: 30px;
    }
    .bloc-left .bloc-body{
        margin-left: 20px;
    }
    .bloc-right .bloc-body{
        margin-right: 20px;
        order: -1;
    }
    .title{
        margin-bottom: 1.2rem;
    }
    .title::before{
        margin-bottom: 10px;
    }
    .more{
        display: block;
        margin-top: 1.3rem;
    }
    .home-section{
        background: 
            fixed top 95px right 0px url(img/oranges.jpg) no-repeat,
            fixed top 640px left 0px url(img/spices.jpg) no-repeat;
    }
    .ingredients-menu a{
        margin: 0 32px;
    }
    .menu-summary{
        padding: 85px 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .menu-summary-item{
        padding-left: 192px;
        margin-bottom: 110px;
        width: calc(50% - 35px);
    }

    .menu-summary .menu-summary-item:nth-child(2n){
        text-align: right;
        padding-left: 0;
        padding-right: 192px;
    }
    .menu-summary .menu-summary-item:nth-child(2n) .menu-summary-image{
        left: auto;
        right: 0;
    }
    .menu-summary-image{
        width: 160px;
    }
    .menu-summary p, .menu-summary-title{
        background: white;
    }
    .menu-summary-title{
        margin-top: 0;
        line-height: 1.2;
    }
    .menu-summary-price{
        padding-top: 4px;
        width: 85px;
        background: white;
    }
    .menu-summary .menu-summary-item:nth-child(2n) .menu-summary-price{
        margin-left: auto;
    }
    .menu-summary::before{
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 420px;
        height: 420px;
        border: solid 1px #C89446;
        transform:  translate(-50%, -260px) rotate(45deg);
    }
    .bloc-chief{
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    .bloc-chief .bloc-img::before{
        display: none;
    }
    .bloc-chief .bloc-img{
        flex: none;
        width: 404px;
        order: 2;
    }
    .reservation{
        padding: 100px 0;
    }
    .reservation-form-row{
        margin: 64px 0;
        display: flex;
        justify-content: space-between;
    }
    .reservation-form-row input, .reservation-form-row select{
        width: calc(33.33% - 20px);
        margin-bottom: 0;
    }
    .reservation-form .button{
        width: calc(33.33% - 20px);
    }
    .recipes{
        padding: 60px 0;
        background-size: 589px auto;
        background-attachment: fixed;
    }
    .recipes .title{
        text-align: right;
    }
    .recipes .container > p{
        text-align: right;
        max-width: 716px;
        margin-left: auto;
    }
    .recipes-list{
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .recipes-date{
        width: 95px;
        flex: none;
    }
    .recipes-list-item{
        padding-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    .recipes-list-item:last-child{
        padding-bottom: 0;
    }
    .footer{
        background-image: url('img/splash.png');
    }
    .footer-columns{
        display: flex;
        justify-content: space-between;
    }
    .footer-column{
        width: 290px;
        margin-right: 50px;
    }
    .footer-column:first-child{
        width: 450px;
    }
    .footer-column:last-child{
        margin-right: 0;
        flex: none;
    }

    /*
        Pages Recipes
    */
    .bloc-ingredients{
        padding: 35px 40px;
        width: 350px;
    }
    .bloc-ingredients span{
        margin-right: 50px;
    }
    .bloc-ingredients li{
        padding: 10px 0;
    }
    .section-overflow{
        padding: 0;
        margin-top: -20px;
    }
    .bloc-right .bloc-video{
        margin-left: 28px;
    }

    .recipes-mosaic{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -60px;
    }
    .recipes-mosaic .menu-summary-item{
        width: calc(50% - 25px);
    }
    .recipes-mosaic .menu-summary-item{
        padding-left: 150px;
        margin-bottom: 64px;
        font-size: 0.875rem;
    }
    .recipes-mosaic .menu-summary-image{
        width: 125px;

    }
    .pagination{
        margin: 60px 0;
    }
}
